.RegisterPaper {
    width: 42%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 3rem 3rem;
    margin: 6rem auto 3rem;
 
    
   }

   .helpful-link {
margin-top: 10px;
   }

   .helpful-link:link{
    margin-left: 5px;
       }

.error-toast {
color: white;
font-family: cursive!important;
font-weight: 400;
text-transform: capitalize;
font-size: 15px!important;
}
   @media(max-width:445px){

    .RegisterPaper {
      width: 95%;
      padding: 1rem 1rem;
    }
  }
  
  /* ::-webkit-scrollbar {
   width: 10px;
 } */
 
 /* Track */
 /* ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey; 
   border-radius: 10px;
 } */
  
 /* Handle */
 /* ::-webkit-scrollbar-thumb {
   background:#f56a8f; 
   border-radius: 6px;
 } */
 
 /* Handle on hover */
 /* ::-webkit-scrollbar-thumb:hover {
   background: #fa255e; 
 } */