.profile-page {
    width:90%;
    box-sizing: border-box;
    padding: 3rem 5rem;
    margin: 3rem auto;
    border: #fa255e solid 2px;

}
.profile-in-heading{
    color: #fa255e;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.profile-button{
    color: #fa255e;
    border: #fa255e solid 2px;
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-right: 1rem;

}
.profile-button:hover {
    color:white;
    background-color: #fa255e;

}
.labels {
    color: gray;
    font-family: monospace;
    font-size: 16px;
    font-weight: 800;
}