.ResetPasswordPaper {
    width: 30%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 3rem 3rem;
    margin: 5rem auto;
   }

   .success-message{
     font-weight: 600;
     text-transform: capitalize;
     color: #32CD32;
   }

   @media(max-width:445px){

    .ResetPasswordPaper {
      width: 95%;
      padding: 2rem 1rem;
      margin: 2rem auto;
    }
  }