.raise:hover{
  background: #fa255e !important;
  color: white;
}
.raise:focus {
 background: #ffffff;
}
.header{
  color: #ffffff !important;
}
hr{
  margin-left: 1rem;
  margin-right: 1rem;
}
.MuiAppBar-colorPrimary{
  background-color: #fa255e !important;
}
/* //#fa255e  */
.Carousel-indicator-15{
  color: #f37e9d !important;
}
.Carousel-active-16{
  color: #fa255e !important;
}