.LoginPaper {
    width: 32%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 3rem 3rem;
    margin: 3rem auto;
   }

   .helpful-link {
margin-top: 10px;
   }

   .helpful-link:link{
    margin-left: 5px;
       }

   @media(max-width:445px){

    .LoginPaper {
      width: 95%;
      padding: 2rem 1rem;
    }
  }
  